#test {
    width: 600px;
    height: 100px;
    background: yellow;
    margin: 50px;
    position: relative;
}

#test2 {
    width: 10px;
    height: 100px;
    background: blue;
    position: absolute;
    left: 0;
    top: 0;
}